<div ng-controller="MainCtrl">
  <div id="modifiers">
    <h2>Modifiers</h2>
    <span class="edge">
      <div class="row">
	<div class="cell">
	  <button type="button" class="btn btn-info btn-block" ng-model="firepower" btn-checkbox="" btn-checkbox-true="1" btn-checkbox-false="0">
	    Firepower
	  </button>
	</div>
	<div class="cell">
	  <button type="button" class="btn btn-info btn-block" ng-model="ambush" btn-checkbox="" btn-checkbox-true="1" btn-checkbox-false="0">
	    Ambush
	  </button>
	</div>
	<div class="cell">
	  <button type="button" class="btn btn-info btn-block" ng-model="doublecasualties" btn-checkbox="" btn-checkbox-true="1" btn-checkbox-false="0">
	    2x Casualties
	  </button>
	</div>
      </div>
      <div class="row">
	<div class="cell">
	  <button type="button" class="btn btn-info btn-block" ng-model="bunker" btn-checkbox="" btn-checkbox-true="1" btn-checkbox-false="0">
	    Bunker
	  </button>
	</div>
	<div class="cell">
	  <button type="button" class="btn btn-info btn-block" ng-model="atkrad" ng-change="aArmysizeRefresh(true)" btn-checkbox="" btn-checkbox-true="1" btn-checkbox-false="0">
	    Atk Rad
	  </button>
	</div>
	<div class="cell">
	  <button type="button" class="btn btn-info btn-block" ng-model="dfndrad" ng-change="dArmysizeRefresh(true)" btn-checkbox="" btn-checkbox-true="1" btn-checkbox-false="0">
	    Dfnd Rad
	  </button>
	</div>
      </div>
    </span>
  </div>
  <hr>
  <div class="centered">
    <button class="btn btn-success" ng-click="rollOnce(); aArmysizeRefresh(); dArmysizeRefresh()">
      Roll Dice
    </button>
  </div>
  <div id="attack">
    <h2>Attack <span id="attackdice">{{ aRolls }}</span></h2>
    <span class="edge">
      <div>
	<label>Army Size <span style="color:red" ng-show="aLoses > 0">(Lost {{ aLoses }})</span></label>
	<div>
          <input type="tel" ng-model="aArmysize" ng-change="clearResults(); aArmysizeUpdate()">
	</div>
      </div>
      
      <div class="diceselect" ng-show="aShowDie(1)">
	Dice to roll: 
	<button type="button" class="btn btn-danger btn-mini" ng-model="aNumrolls" btn-radio="1" ng-show="aShowDie(1)">1</button>
	<button type="button" class="btn btn-danger btn-mini" ng-model="aNumrolls" btn-radio="2" ng-show="aShowDie(2)">2</button>
	<button type="button" class="btn btn-danger btn-mini" ng-model="aNumrolls" btn-radio="3" ng-show="aShowDie(3)">3</button>
      </div>
    </span>
  </div>
  <div id="defend">
    <h2>Defend <span id="defenddice">{{ dRolls }}</span></h2>
    <span class="edge">
      <div>
	<label>Army size <span style="color:red" ng-show="dLoses > 0">(Lost {{ dLoses }})</span></label>
	<div>
	  <input type="tel" ng-model="dArmysize" ng-change="clearResults(); dArmysizeUpdate()">
	</div>
      </div>
      
      <div class="diceselect" ng-show="dShowDie(1)">
	Dice to roll: 
	<button type="button" class="btn btn-primary btn-mini" ng-model="dNumrolls" btn-radio="1" ng-show="dShowDie(1)">1</button>
	<button type="button" class="btn btn-primary btn-mini" ng-model="dNumrolls" btn-radio="2" ng-show="dShowDie(2)">2</button>
      </div>
    </span>
  </div>
  <!-- A couple of breaks for mobile.
       Keeps the bottom of the page from being right on the number of dice to
       roll.
    -->
  <br>
  <br>
</div>